service vendor.wireless_modprobe /vendor/bin/wireless_modprobe.sh
    class main
    user root
    group root system
    disabled
    oneshot

on early-boot
    # Wait for hardware detection to finish.
    wait_for_prop vendor.wireless_hwinfo.detection_finished 1

    # Start loading vendor modules.
    start vendor.wireless_modprobe

    # Wait for modules to be loaded.
    wait_for_prop vendor.init.modules.load 1
