on init
    write /sys/block/zram0/backing_dev /dev/block/by-name/zram_back

on boot
    chown system system /sys/kernel/autohotplug/enable
    chmod 0660 /sys/kernel/autohotplug/enable

    chown system system /sys/kernel/autohotplug/boost_all
    chmod 0660 /sys/kernel/autohotplug/boost_all

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/boot_lock
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/boot_lock

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/platform/soc/cpu_budget_cooling/roomage
    chmod 0660 /sys/devices/platform/soc/cpu_budget_cooling/roomage
    write /sys/devices/platform/soc/cpu_budget_cooling/roomage "1416000 4 0 0 1416000 4 0 0"

    chown system system /sys/devices/platform/gpu/scenectrl/command
    chmod 0660 /sys/devices/platform/gpu/scenectrl/command

    chown system system /sys/class/thermal/thermal_zone0/emul_temp
    chmod 0660 /sys/class/thermal/thermal_zone0/emul_temp
    chown system system /sys/class/thermal/thermal_zone0/policy
    chmod 0660 /sys/class/thermal/thermal_zone0/policy

    write /sys/class/disp/disp/attr/runtime_enable 1
    write /sys/kernel/autohotplug/enable 1
    write /sys/kernel/autohotplug/boost_all 0

    # Read one page at a time for swap (default is 8)
    write /proc/sys/vm/page-cluster 0

    # hdmi set shake delay time for audio.
    write /sys/module/snd_soc_sunxi_hdmi/parameters/shake_msleep 200
